<%= link_to cart_path(current_buyer.id), class: "tag is-medium is-primary button_cart_nav" do %>
  <span><%= image_tag "shopping-cart.svg" %></span>
  <span class="badge"><%= @transa_cart %></span>
<% end %>
