
<div id="footergen2">
<%= image_tag "libra.svg" %>
<%= image_tag "visa.svg" %>
<%= image_tag "mastercard.svg" %>
<%= image_tag "americanexpress.svg" %></br></br>
   <b> © Eden. Tous droits réservés</b>
</div>
