<div id="footergen1">
<div class="footer-distributed">

<div class="footer-left">

<h3>Company<span>logo</span></h3>

  <p class="footer-links"><b>
  <%= link_to "Accueil", root_path %>
    ·
    Blog
    ·
    A propos
    ·
    Faq
    ·
    Contact</b>
  </p></br>
</div>

<div class="footer-center">
<span>Coordonnées</span>
  <div>
    <p>21 Revolution Street </br> 75000 Paris, France</p>
  </div>

  <div>
    <p>contact@edenfarm.com</p></br></br></br>
  </div>

</div>

<div class="footer-right">

  <p class="footer-company-about">
    <span>À propos d'Eden</span>
    Eden permet aux agriculteurs des pays émergents d'avoir plus de visibilité auprès des acheteurs 
  </p>

  <div class="footer-icons">

    <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
    <a href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a>
    <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.youtube.com/?gl=FR&hl=fr"><i class="fab fa-youtube-square"></i></a>



  </div>

</div>

</div>

</div>
